{% extends './layout.html' %}

{% block body %}
    {% if not data.errbd %}
        <h1>{{ data.message }}</h1>

        <table class="table table-dark table-striped table-bordered">
            <thead>
                <tr>
                    {% for item in cabecera %}
                        <th scope="col" style="color: orange; text-transform:capitalize;">{{ item }}</th>
                        <!-- <th scope="col">Correo</th>
                        <th scope="col">Foto</th> -->
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in cursor %}
                <tr>
                    <td>{{ item['id'] }}</td>
                    <td>
                        <img width="80" src="{{ url_for('static', filename='assets/images/uploads/'+item.foto) }}" alt="foto de perfil">
                    </td>
                    <td>{{ item['nombre'] }}</td>
                    <td>{{ item['correo'] }}</td>
                    <td>
                        <a class="btn btn-danger" href="/deleteemployee/{{ item['id'] }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn btn-success" href="/editemployee/{{ item['id'] }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary formloginbtn" href="{{ url_for('.add_employee_view') }}">Agregar</a>
    {% else %}
        <h1>Sin Conexión a la Base de Datos</h1>
    {% endif %}
{% endblock %}