{% extends './layout.html' %}

{% block body %}
<h1>{{ data.message }} : {{ row['user_email'] }}</h1>

<form method="POST" action="/update" enctype="multipart/form-data">
    <input type="text" name="inputId" value="{{ row['user_id'] }}">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" value="{{ row['user_name'] }}" id="name" placeholder="Nombre" name="inputName" autocomplete="off"
            required>
    </div>
    <div class="form-group">
        <label for="password">Contraseña (Ingrese la Anterior o una Nueva)</label>
        <input type="password" class="form-control" id="password" placeholder="Contraseña" name="inputPassword"
            autocomplete="off" required>
    </div>
    <div>
        <input class="btn btn-success formloginbtn" type="submit" value="Aceptar" />
    </div>
</form>
{% endblock %}