{% extends './layout.html' %}

{% block body %}
{% if not data.errbd %}
<h1>{{ data.message }}</h1>

<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            {% for item in cabecera %}
            <th scope="col" style="color: orange; text-transform:capitalize;">{{ item }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in cursor %}
        <tr>
            <td>{{ item['user_name'] }}</td>
            <td>{{ item['user_email'] }}</td>
            <td>
                <a href="{{ url_for('.users') }}">
                    <i class="fas fa-chalkboard-teacher"></i>
                </a>
                <a href="{{ url_for('.logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary formloginbtn" href="{{ url_for('.add_user_view') }}">Agregar</a>
{% else %}
<h1>Sin Conexión a la Base de Datos</h1>
{% endif %}
{% endblock %}